@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Unbounded', sans-serif;
}
.thick {
  @apply italic font-semibold;
}
.h4 {
  @apply font-bold text-3xl mb-10;
}
.pink {
  @apply text-secondary-300 font-semibold;
}
.p-text {
  font-size: 21px;
}
.header-text {
  font-size: 54px;
}
